<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Short URL</title>
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
	<script type="text/javascript" src = "js/urlShortenerController.js"></script>
	<script type="text/javascript" src="js/serviceFactory.js"></script>
</head>
<body>
	<div class = "container" ng-app="urlShortenerApp" ng-controller = "urlShortenerController">
		URL to be shortened:  <input type = "text" ng-model="url"><br>
		<input type = "submit" ng-click="createShortUrl()"><br><br>
		<p>{{result}}</p><br>
		<a href="{{shortUrl}}">Click Here</a> 
	</div>
</body>
</html>